<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeosEmailInboxMonitorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GeosEmailInboxMonitorService.Properties.Settings>
            <setting name="INTERVAL_REFRESH" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="SmtpServerHost" serializeAs="String">
                <value>smtp.emdep.com</value>
            </setting>
            <setting name="SmtpServerPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>smtp_email@emdep.com</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>smtp_password</value>
            </setting>
            <setting name="ImapServerHost" serializeAs="String">
                <value>mail.emdep.com</value>
            </setting>
            <setting name="ImapServerPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="ImapUsername" serializeAs="String">
                <value>po.epin</value>
            </setting>
            <setting name="ImapPassword" serializeAs="String">
                <value>!nforMati0n@1234</value>
            </setting>
            <setting name="EmailCheckIntervalSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AttachmentSavePath" serializeAs="String">
                <value>\\EAESFS01\geos$\Workbench\Documents\EmailAttachments</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>ConnectionString</value>
            </setting>
            <setting name="SERVICE_PROVIDER_URL" serializeAs="String">
                <value>10.13.3.33:70</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>po.epin</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>8867f862-4ac8-4ace-8ad5-050d86e872e2</value>
            </setting>
            <setting name="TenantID" serializeAs="String">
                <value>684b8b0a-07c6-4429-83c5-d36e030f290d</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>AGg8Q~MKqZt4Ql4nBGla5~X8N7b7C-9IuzEU9bTn</value>
            </setting>
            <setting name="LastProcessedEmailDate" serializeAs="String">
                <value>2025-11-01</value>
            </setting>
        </GeosEmailInboxMonitorService.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="9.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.6" newVersion="8.0.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>