<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emdep.Geos.Services.Web.Workbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Emdep.Geos.Service.Web.Workbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="103600" />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <identity impersonate="false"/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
      <service behaviorConfiguration="CrmRestBehavior" name="Emdep.Geos.Services.Web.Workbench.CrmRestService">
        <endpoint address="" behaviorConfiguration="crmendbehavior" binding="webHttpBinding"
          contract="Emdep.Geos.Services.Web.Workbench.ICrmRestService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Emdep.Geos.Services.Web.Workbench.WorkbenchStartUp">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttp"
          name="basicEndpoint" contract="Emdep.Geos.Services.Contracts.IWorkbenchStartUp" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourfile" name="Emdep.Geos.Services.Web.Workbench.GeosRepositoryService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicfileHttp"
          name="basicfileEndpoint" contract="Emdep.Geos.Services.Contracts.IGeosRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourglpi" name="Emdep.Geos.Services.Web.Workbench.GlpiService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicglpiHttp"
          name="basicglpiEndpoint" contract="Emdep.Geos.Services.Contracts.IGlpiService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourepc" name="Emdep.Geos.Services.Web.Workbench.EpcService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicepcHttp"
          name="basicepcEndpoint" contract="Emdep.Geos.Services.Contracts.IEpcService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourcrm" name="Emdep.Geos.Services.Web.Workbench.CrmService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basiccrmHttp"
          name="basiccrmEndpoint" contract="Emdep.Geos.Services.Contracts.ICrmService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourWarehouse" name="Emdep.Geos.Services.Web.Workbench.WarehouseService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicWarehouseHttp"
          name="basicWarehouseEndpoint" contract="Emdep.Geos.Services.Contracts.IWarehouseService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourHrm" name="Emdep.Geos.Services.Web.Workbench.HrmService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHrmHttp"
          name="basicHrmEndpoint" contract="Emdep.Geos.Services.Contracts.IHrmService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourxml" name="Emdep.Geos.Services.Web.Workbench.xmlreturnService">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding"
          name="rest" contract="Emdep.Geos.Services.Contracts.IxmlreturnService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourPCM" name="Emdep.Geos.Services.Web.Workbench.PCMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicPCMHttp"
          name="basicPCMEndpoint" contract="Emdep.Geos.Services.Contracts.IPCMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourSAM" name="Emdep.Geos.Services.Web.Workbench.SAMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicSAMHttp"
          name="basicSAMEndpoint" contract="Emdep.Geos.Services.Contracts.ISAMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourSRM" name="Emdep.Geos.Services.Web.Workbench.SRMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicSRMHttp"
          name="basicSRMEndpoint" contract="Emdep.Geos.Services.Contracts.ISRMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourPLM" name="Emdep.Geos.Services.Web.Workbench.PLMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicPLMHttp"
          name="basicPLMEndpoint" contract="Emdep.Geos.Services.Contracts.IPLMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>

      <basicHttpBinding>

        <binding name="basicHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="basicfileHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Mtom" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicglpiHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicepcHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basiccrmHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicWarehouseHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicHrmHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicxmlHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicPCMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicSAMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicSRMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicPLMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourfile">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourglpi">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourepc">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="CrmRestBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourcrm">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourxml">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourWarehouse">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourHrm">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourPCM">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourSAM">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourSRM">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourPLM">
          <dataContractSerializer  maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp/>
        </behavior>
        <behavior name="crmendbehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <connectionStrings>

    <!-- <add name="WorkbenchContext" connectionString="Data Source=10.0.9.6;Database=emdep_geos;User ID=geos_user;Password=3md3p+gOs;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.6;Database=geos;User ID=geos_user;Password=3md3p+gOs;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.6;Database=emdep_geos;User ID=geos_user;Password=3md3p+gOs;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=EAESGDB01;Database=emdep_geos;User ID=geos_user;Password=3md3p+gOs;" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.9.6;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=EBDCGDB01;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERBBDD01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=1234;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=EBDCGDB01;Database=emdep_geos;User ID=geos_user;Password=3md3p+gOs;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=EBDCDBS01;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.0.9.6;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->
    

    <!--<add name="WorkbenchContext" connectionString="Data Source=10.9.3.11;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.9.3.11;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.9.3.11;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.9.3.11;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.9.3.11;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.9.3.11;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.9.7;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.9.3.11;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.9.3.11;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />-->

    <add name="WorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.9.7;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="LocalGeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />

     <!--<add name="WorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.9.7;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->

   <!-- <add name="WorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.9.7;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />

    <add name="PCMContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->


    <!--<add name="WorkbenchContext" connectionString="Data Source=10.0.0.5;Database=emdep_geos;User ID=root;Password=mysql;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.0.5;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.0.254.23;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.254.30;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.0.254.23;Database=emdep_geos;User ID=root;Password=mysql;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.0.0.5;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->


    <!-- <add name="WorkbenchContext" connectionString="Data Source=10.0.0.5;Database=emdep_geos;User ID=root;Password=mysql;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="HarnessPartContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="LanguageContext" connectionString="Data Source=10.0.9.7;Database=emdep_geos;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="HRMContext" connectionString="Data Source=10.0.9.7;Database=emdep_hrm;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="GLPIContext" connectionString="Data Source=10.0.9.7;Database=glpi;User ID=GeosUsr;Password=GEOS;" providerName="MySql.Data.MySqlClient" />
    <add name="EpcContext" connectionString="Data Source=10.0.9.7;Database=emdep_epc2;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="GeosContext" connectionString="Data Source=10.0.9.7;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="CrmContext" connectionString="Data Source=10.0.0.5;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MainServerContext" connectionString="Data Source=10.0.254.23;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DotProjectContext" connectionString="Data Source=10.0.254.30;Database=rddotproject;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="OfferCodeContext" connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="MainServerWorkbenchContext" connectionString="Data Source=10.0.254.23;Database=emdep_geos;User ID=root;Password=mysql;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="PCMContext" connectionString="Data Source=10.0.0.5;Database=geos;User ID=GeosUsr;Password=GEOS;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->

  </connectionStrings>
  <applicationSettings>
    <Emdep.Geos.Services.Web.Workbench.Properties.Settings>
      <setting name="MailServerName" serializeAs="String">
        <value>mail.emdep.com</value>
      </setting>
      <setting name="MailServerPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="WorkbenchInstallerVersion" serializeAs="String">
        <value>0.0.0.1</value>
      </setting>
      <setting name="WorkbenchVersionFolder" serializeAs="String">
        <value>C:\Temp\WorkbenchVersionFolder\</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>noreply@emdep.com</value>
      </setting>
      <setting name="GLPIZipFile" serializeAs="String">
        <value>C:\xampp\htdocs\glpi\files\</value>
      </setting>
      <setting name="ModuleImage" serializeAs="String">
        <value>C:\Temp\ModuleImage\</value>
      </setting>
      <setting name="EpcProjectFolder" serializeAs="String">
        <value>C:\Temp\rddotproject$\</value>
      </setting>
      <setting name="UserProfileImage" serializeAs="String">
        <value>C:\Temp\UserProfileImage\</value>
      </setting>
      <setting name="SiteImage" serializeAs="String">
        <value>C:\Temp\Asset\Images\EmdepSites\</value>
      </setting>
      <setting name="EmailTemplate" serializeAs="String">
        <value>C:\Temp\Templates\</value>
      </setting>
      <setting name="CommericalPath" serializeAs="String">
        <value>C:\Temp\Commercial$\OFERTAS GCM</value>
      </setting>
      <setting name="WorkingOrdersPath" serializeAs="String">
        <value>C:\Temp\workingOrders$</value>
      </setting>
      <setting name="ActivityAttachmentsPath" serializeAs="String">
        <value>C:\Temp\ActivityAttachments$</value>
      </setting>
      <setting name="CaroemFilePath" serializeAs="String">
        <value>C:\Temp\Caroems\</value>
      </setting>
      <setting name="CustomerFilePath" serializeAs="String">
        <value>C:\Temp\Customers\</value>
      </setting>
      <setting name="PurchaseOrdersPath" serializeAs="String">
        <value>C:\Temp\PurchaseOrders$</value>
      </setting>
      <setting name="ArticleVisualAidsPath" serializeAs="String">
        <value>C:\Temp\ArticleVisualAids$</value>
      </setting>
      <setting name="EmployeesProfileImage" serializeAs="String">
        <value>C:\Temp\EmployeesProfileImage\</value>
      </setting>

      <setting name="EmpEducationQualificationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesEducationQualificationFiles</value>
      </setting>
      <setting name="EmpProfessionalEducationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesProfessionalEducationFiles</value>
      </setting>
      <setting name="EmpContractSituationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesContractSituationFiles</value>
      </setting>
      <setting name="EmpIdentificationDocumentFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesIdentificationDocumentFiles</value>
      </setting>
      <setting name="EmpJobDescriptionsFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeeJobDescriptions</value>
      </setting>
      <setting name="ArticleAttachmentDocPath" serializeAs="String">
        <value>C:\Temp\ARTICLEATTACHMENTS$</value>
      </setting>
      <setting name="EmpLeaveAttachment" serializeAs="String">
        <value>C:\Temp\EmployeeLeaveAttachments</value>
      </setting>
      <setting name="EmployeeExitDocument" serializeAs="String">
        <value>C:\Temp\EmployeeExitDocument</value>
      </setting>
      <setting name="MaterialWorkOrderItemLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\WO_Item_Label.prn</value>
      </setting>
      <setting name="CompanyLayouts" serializeAs="String">
        <value>C:\Temp\CompanyLayouts\</value>
      </setting>
      <setting name="MaterialDNItemLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\DN_Item_Label.prn</value>
      </setting>
      <setting name="BoxLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\BOX_Label.prn</value>
      </setting>
      <setting name="ProductTypeImages" serializeAs="String">
        <value>C:\Temp\ProductTypeImages</value>
      </setting>
      <setting name="ProductTypeFiles" serializeAs="String">
        <value>C:\Temp\ProductTypeFiles</value>
      </setting>
      <setting name="CatalogueItemImages" serializeAs="String">
        <value>C:\Temp\CatalogueItemImages</value>
      </setting>
      <setting name="CatalogueItemFiles" serializeAs="String">
        <value>C:\Temp\CatalogueItemFiles</value>
      </setting>
      <setting name="DetectionImages" serializeAs="String">
        <value>C:\Temp\DetectionImages</value>
      </setting>
      <setting name="DetectionFiles" serializeAs="String">
        <value>C:\Temp\DetectionFiles</value>
      </setting>
      <setting name="UseSQLCounter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompanyOrgCharts" serializeAs="String">
        <value>C:\Temp\OrgCharts</value>
      </setting>
      <setting name="CommercialRfqPath" serializeAs="String">
        <value>C:\Temp\Commercial$\OFERTAS GCM {0}\{1}\{2}\01 - QUOTATIONS\RFQ</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>

      <setting name="CountryFilePath" serializeAs="String">
        <value>C:\Temp\Countries\</value>
      </setting>
        <setting name="ArticleImages" serializeAs="String">
        <value>C:\Temp\ArticleImages</value>
      </setting>
      <setting name="MaterialDNItemLabelSmall" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\DN_Item_Label_Small.prn</value>
      </setting>
      <setting name="ProductCategoriesImages" serializeAs="String">
        <value>C:\\Temp\\ProductCategories</value>
      </setting>
      
    </Emdep.Geos.Services.Web.Workbench.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

