<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emdep.Geos.Services.Web.Workbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Emdep.Geos.Service.Web.Workbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="V2680PTTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="\\10.13.3.33\c$\Services\GeosWorkbenchServicePT\V1\APM_V2680PT_Trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime maxRequestLength="2147483647" executionTimeout="103600" />-->
    <httpRuntime executionTimeout="90" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation debug="true" targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" />
      </webHttpEndpoint>
    </standardEndpoints>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
      <service behaviorConfiguration="CrmRestBehavior" name="Emdep.Geos.Services.Web.Workbench.CrmRestService">
        <endpoint address="" behaviorConfiguration="crmendbehavior" binding="webHttpBinding" contract="Emdep.Geos.Services.Web.Workbench.ICrmRestService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Emdep.Geos.Services.Web.Workbench.WorkbenchStartUp">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttp" name="basicEndpoint" contract="Emdep.Geos.Services.Contracts.IWorkbenchStartUp" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourfile" name="Emdep.Geos.Services.Web.Workbench.GeosRepositoryService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicfileHttp" name="basicfileEndpoint" contract="Emdep.Geos.Services.Contracts.IGeosRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourglpi" name="Emdep.Geos.Services.Web.Workbench.GlpiService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicglpiHttp" name="basicglpiEndpoint" contract="Emdep.Geos.Services.Contracts.IGlpiService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--<service behaviorConfiguration="ServiceBehaviourepc" name="Emdep.Geos.Services.Web.Workbench.EpcService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicepcHttp" name="basicepcEndpoint" contract="Emdep.Geos.Services.Contracts.IEpcService"/>
      </service>-->
      <service behaviorConfiguration="ServiceBehaviourcrm" name="Emdep.Geos.Services.Web.Workbench.CrmService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basiccrmHttp" name="basiccrmEndpoint" contract="Emdep.Geos.Services.Contracts.ICrmService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourWarehouse" name="Emdep.Geos.Services.Web.Workbench.WarehouseService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicWarehouseHttp" name="basicWarehouseEndpoint" contract="Emdep.Geos.Services.Contracts.IWarehouseService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourHrm" name="Emdep.Geos.Services.Web.Workbench.HrmService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHrmHttp" name="basicHrmEndpoint" contract="Emdep.Geos.Services.Contracts.IHrmService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--<service behaviorConfiguration="ServiceBehaviourxml" name="Emdep.Geos.Services.Web.Workbench.xmlreturnService">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" name="rest" contract="Emdep.Geos.Services.Contracts.IxmlreturnService"/>
      </service>-->
      <service behaviorConfiguration="ServiceBehaviourPCM" name="Emdep.Geos.Services.Web.Workbench.PCMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicPCMHttp" name="basicPCMEndpoint" contract="Emdep.Geos.Services.Contracts.IPCMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourSAM" name="Emdep.Geos.Services.Web.Workbench.SAMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicSAMHttp" name="basicSAMEndpoint" contract="Emdep.Geos.Services.Contracts.ISAMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourSRM" name="Emdep.Geos.Services.Web.Workbench.SRMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicSRMHttp" name="basicSRMEndpoint" contract="Emdep.Geos.Services.Contracts.ISRMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourPLM" name="Emdep.Geos.Services.Web.Workbench.PLMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicPLMHttp" name="basicPLMEndpoint" contract="Emdep.Geos.Services.Contracts.IPLMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourERM" name="Emdep.Geos.Services.Web.Workbench.ERMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicERMHttp" name="basicERMEndpoint" contract="Emdep.Geos.Services.Contracts.IERMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourSCM" name="Emdep.Geos.Services.Web.Workbench.SCMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicSCMHttp" name="basicSCMEndpoint" contract="Emdep.Geos.Services.Contracts.ISCMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourOTM" name="Emdep.Geos.Services.Web.Workbench.OTMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicOTMHttp" name="basicOTMEndpoint" contract="Emdep.Geos.Services.Contracts.IOTMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourAPM" name="Emdep.Geos.Services.Web.Workbench.APMService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicAPMHttp" name="basicAPMEndpoint" contract="Emdep.Geos.Services.Contracts.IAPMService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviourWorkbenchMainService" name="Emdep.Geos.Services.Web.Workbench.WorkbenchMainService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicWorkbenchMainServiceHttp" name="basicWorkbenchMainServiceEndpoint" contract="Emdep.Geos.Services.Contracts.IWorkbenchMainService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="TechnicalServiceRestBehavior" name="Emdep.Geos.Services.Web.Workbench.TechnicalRestService">
        <endpoint address="" behaviorConfiguration="TechnicalServicebehavior" binding="webHttpBinding" contract="Emdep.Geos.Services.Web.Workbench.ITechnicalRestService" />
      </service>
		<service behaviorConfiguration="ServiceBehaviourTSM" name="Emdep.Geos.Services.Web.Workbench.TSMService">
			<endpoint binding="basicHttpBinding" bindingConfiguration="basicTSMHttp" name="basicTSMEndpoint" contract="Emdep.Geos.Services.Contracts.ITSMService" />
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="basicfileHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Mtom" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicglpiHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <!--<binding name="basicepcHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>-->
        <binding name="basiccrmHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicWarehouseHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicHrmHttp" closeTimeout="04:10:00" openTimeout="04:10:00" receiveTimeout="04:10:00" sendTimeout="04:10:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="9223372036854775807" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="9223372036854775807">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <!--<binding name="basicxmlHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>-->
        <binding name="basicPCMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicSAMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicSRMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicPLMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicERMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicSCMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicOTMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicAPMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicWorkbenchMainServiceHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="basicTechnicalRestServiceHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
		  <binding name="basicTSMHttp" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="2147483647" transferMode="Streamed" textEncoding="utf-8" maxBufferSize="2147483647" messageEncoding="Text" maxBufferPoolSize="2147483647">
			  <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
		  </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourfile">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourglpi">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <!--<behavior name="ServiceBehaviourepc">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>-->
        <behavior name="CrmRestBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourcrm">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <!--<behavior name="ServiceBehaviourxml">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>-->
        <behavior name="ServiceBehaviourWarehouse">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourHrm">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourPCM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourSAM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourSRM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourPLM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourERM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourSCM">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceBehaviourOTM">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourAPM">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviourWorkbenchMainService">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TechnicalServiceRestBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
		  <behavior name="ServiceBehaviourTSM">
			  <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
			  <serviceDebug includeExceptionDetailInFaults="true" />
			  <serviceMetadata httpGetEnabled="true" />
		  </behavior>

	  </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
        <behavior name="crmendbehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="TechnicalServicebehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <connectionStrings>    
    <!--10.13.63.6 (Master) & 10.13.64.6 (Slave) -->
	  <add name="WorkbenchContext"   connectionString="Data Source=10.13.64.6;Database=emdep_geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;"   providerName="MySql.Data.MySqlClient" />
	  <add name="CrmContext"   connectionString="Data Source=10.13.64.6;Database=geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;"   providerName="MySql.Data.MySqlClient" />
	  <add name="MainServerContext"  connectionString="Data Source=10.13.63.6;Database=geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;"   providerName="MySql.Data.MySqlClient" />
	  <add name="OfferCodeContext"  connectionString="Data Source=SERVERINTEST01\SQLEXPRESS;Initial Catalog=GCM;Persist Security Info=True;User ID=GeosUsr;Password=GEOS;Pooling=false;"  providerName="System.Data.SqlClient" />
	  <add name="MainServerWorkbenchContext"  connectionString="Data Source=10.13.63.6;Database=emdep_geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;"   providerName="MySql.Data.MySqlClient" />
	  <add name="PCMContext"  connectionString="Data Source=10.13.64.6;Database=geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;AutoEnlist=false;"  providerName="MySql.Data.MySqlClient" />
	  <add name="LocalGeosContext"  connectionString="Data Source=10.13.64.6;Database=geos;User ID=GeosUsr;Password=Geos@123;Convert Zero Datetime=True;"  providerName="MySql.Data.MySqlClient" />
    
  </connectionStrings>
  <applicationSettings>
    <Emdep.Geos.Services.Web.Workbench.Properties.Settings>
      <setting name="MailServerName" serializeAs="String">
        <value>mail.emdep.com</value>
      </setting>
      <setting name="MailServerPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="WorkbenchInstallerVersion" serializeAs="String">
        <value>0.0.0.1</value>
      </setting>
      <setting name="WorkbenchVersionFolder" serializeAs="String">
        <value>C:\Temp\WorkbenchVersionFolder\</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>noreply@emdep.com</value>
      </setting>
      <setting name="GLPIZipFile" serializeAs="String">
        <value>C:\xampp\htdocs\glpi\files\</value>
      </setting>
      <setting name="ModuleImage" serializeAs="String">
        <value>C:\Temp\ModuleImage\</value>
      </setting>
      <setting name="EpcProjectFolder" serializeAs="String">
        <value>C:\Temp\rddotproject$\</value>
      </setting>
      <setting name="UserProfileImage" serializeAs="String">
        <value>C:\Temp\UserProfileImage\</value>
      </setting>
      <setting name="SiteImage" serializeAs="String">
        <value>C:\Temp\Asset\Images\EmdepSites\</value>
      </setting>
      <setting name="EmailTemplate" serializeAs="String">
        <value>C:\Temp\Templates\</value>
      </setting>
      <setting name="WorkingOrdersPath" serializeAs="String">
        <value>C:\Temp\workingOrders$</value>
      </setting>
      <setting name="ActivityAttachmentsPath" serializeAs="String">
        <value>C:\Temp\ActivityAttachments$</value>
      </setting>
      <setting name="CaroemFilePath" serializeAs="String">
        <value>C:\Temp\Caroems\</value>
      </setting>
      <setting name="CustomerFilePath" serializeAs="String">
        <value>C:\Temp\Customers\</value>
      </setting>
      <setting name="PurchaseOrdersPath" serializeAs="String">
        <value>C:\Temp\PurchaseOrders$</value>
      </setting>
      <setting name="ArticleVisualAidsPath" serializeAs="String">
        <value>C:\Temp\ArticleVisualAids$</value>
      </setting>
      <setting name="EmployeesProfileImage" serializeAs="String">
        <value>C:\Temp\EmployeesProfileImage\</value>
      </setting>
      <setting name="EmpEducationQualificationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesEducationQualificationFiles</value>
      </setting>
      <setting name="EmpProfessionalEducationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesProfessionalEducationFiles</value>
      </setting>
      <setting name="EmpContractSituationFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesContractSituationFiles</value>
      </setting>
      <setting name="EmpIdentificationDocumentFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeesIdentificationDocumentFiles</value>
      </setting>
      <setting name="EmpJobDescriptionsFilesPath" serializeAs="String">
        <value>C:\Temp\EmployeeJobDescriptions</value>
      </setting>
      <setting name="ArticleAttachmentDocPath" serializeAs="String">
        <value>C:\Temp\ARTICLEATTACHMENTS$</value>
      </setting>
      <setting name="EmpLeaveAttachment" serializeAs="String">
        <value>C:\Temp\EmployeeLeaveAttachments</value>
      </setting>
      <setting name="EmployeeExitDocument" serializeAs="String">
        <value>C:\Temp\EmployeeExitDocument</value>
      </setting>
      <setting name="MaterialWorkOrderItemLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\WO_Item_Label.prn</value>
      </setting>
      <setting name="CompanyLayouts" serializeAs="String">
        <value>C:\Temp\CompanyLayouts\</value>
      </setting>
      <setting name="MaterialDNItemLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\DN_Item_Label.prn</value>
      </setting>
      <setting name="BoxLabel" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\BOX_Label.prn</value>
      </setting>
      <setting name="ProductTypeImages" serializeAs="String">
        <value>C:\Temp\ProductTypeImages</value>
      </setting>
      <setting name="ProductTypeFiles" serializeAs="String">
        <value>C:\Temp\ProductTypeFiles</value>
      </setting>
      <setting name="CatalogueItemImages" serializeAs="String">
        <value>C:\Temp\CatalogueItemImages</value>
      </setting>
      <setting name="CatalogueItemFiles" serializeAs="String">
        <value>C:\Temp\CatalogueItemFiles</value>
      </setting>
      <setting name="DetectionImages" serializeAs="String">
        <value>C:\Temp\DetectionImages</value>
      </setting>
      <setting name="DetectionFiles" serializeAs="String">
        <value>C:\Temp\DetectionFiles</value>
      </setting>
      <setting name="UseSQLCounter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompanyOrgCharts" serializeAs="String">
        <value>C:\Temp\OrgCharts</value>
      </setting>
      <setting name="CommericalPath" serializeAs="String">
        <value>C:\Temp\Commercial$\OFERTAS GCM</value>
      </setting>
      <setting name="CommercialRfqPath" serializeAs="String">
        <value>C:\Temp\Commercial$\OFERTAS GCM {0}\{1}\{2}\01 - QUOTATIONS\RFQ</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="CountryFilePath" serializeAs="String">
        <value>C:\Temp\Countries\</value>
      </setting>
      <setting name="ArticleImages" serializeAs="String">
        <value>C:\Temp\ArticleImages</value>
      </setting>
      <setting name="MaterialDNItemLabelSmall" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\DN_Item_Label_Small.prn</value>
      </setting>
      <setting name="MaterialDNItemLabelFile" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Labels\{0}\DN_Item_Label_{1}.prn</value>
      </setting>
      <setting name="ProductCategoriesImages" serializeAs="String">
        <value>C:\\Temp\\ProductCategories</value>
      </setting>
      <setting name="CurrenciesImages" serializeAs="String">
        <value>C:\\Temp\\Currencies</value>
      </setting>
      <setting name="BPLCPLExportTemplates" serializeAs="String">
        <value>C:\\Temp\\BPLCPLExportTemplates</value>
      </setting>
      <setting name="ProfessionalTrainingAttachmentFiles" serializeAs="String">
        <value>C:\\Temp\\ProfessionalTrainingAttachmentFiles</value>
      </setting>
      <setting name="EnumeratedImage" serializeAs="String">
        <value>C:\Temp\geos$\WORKBENCH\Images\Enumerated\</value>
      </setting>
      <setting name="QualityCertificationTemplatePath" serializeAs="String">
        <value>C:\Temp\TestboardCheckListTemplate\</value>
      </setting>
      <setting name="ExpensesAttachment" serializeAs="String">
        <value>C:\\Temp\\ExpensesAttachment</value>
      </setting>
      <setting name="ExpensesFilePath" serializeAs="String">
        <value>C:\\Temp\\ExpensesFilePath</value>
      </setting>
      <setting name="ConnectorFamilyVisualAidsPath" serializeAs="String">
        <value>C:\\Temp</value>
      </setting>
      <setting name="CurrencyLayer" serializeAs="String">
        <value>http://apilayer.net/api/</value>
      </setting>
      <setting name="CurrencyLayerKey" serializeAs="String">
        <value>34fe8672eefff10710e2b1a23b0a6d40</value>
      </setting>
      <setting name="TraineeResultFilePath" serializeAs="String">
        <value>C:\\Temp\\TraineeResultFilePath</value>
      </setting>
      <setting name="ExportPurchaseOrderTemplatePath" serializeAs="String">
        <value>C:\Temp\Geos$\Workbench\Templates\Purchase Order</value>
      </setting>
      <setting name="ExpenseReportPath" serializeAs="String">
        <value>C:\{0}FS01\Geos$\Workbench\Documents\Employees\ExpenseReports</value>
      </setting>
      <setting name="EmpAttendanceAttachment" serializeAs="String">
        <value>C:\\Temp\\EmployeeAttendanceAttachments</value>
      </setting>
      <setting name="ConnectorImage" serializeAs="String">
        <value>C:\\Visuals$\CONNECTOR VISUAL AIDS\CONNECTORS\COMMERCIAL\</value>
      </setting>
      <setting name="DomainName" serializeAs="String">
        <value>EMDEP</value>
      </setting>
      <setting name="TraningTemplate" serializeAs="String">
        <value>C:\Temp\{0}fs01\geos$\Workbench\Templates\Trainings\</value>
      </setting>
      <setting name="ExpenseReportHeaderImage" serializeAs="String">
        <value>C:\Temp\geos$\Workbench\Templates\Expense\</value>
      </setting>
      <setting name="ConnectorAttachementsPath" serializeAs="String">
        <value>  C:\geos$\CONNECTORVISUALAIDS$\Attached Files </value>
      </setting>
      <setting name="HealthAndSafetyTypeAttachedDoc" serializeAs="String">
        <value>C:\\Temp\\HealthAndSafetyTypeAttachedDoc</value>
      </setting>
      <setting name="EquipmentTypeFiles" serializeAs="String">
        <value>C:\\Temp\\EquipmentTypeFiles</value>
      </setting>
      <setting name="OTMMailAttachmentSavePath" serializeAs="String">
        <value>C:\\\\EAESFS01\\geos$\\Workbench\\Documents\\EmailAttachments</value>
      </setting>
      <setting name="SolidWorksPath" serializeAs="String">
        <value>C:\\Temp\\solidworks$</value>
      </setting>
      <setting name="ConnectorWtgImages" serializeAs="String">
        <value>C:\\Temp\\Geos$\\CONNECTORVISUALAIDS$\\CONNECTORS\\WINTESTEM</value>
      </setting>
      <setting name="ElectricalDiagrams" serializeAs="String">
        <value>c:\temp\ElectricalDiagrams$</value>
      </setting>
      <setting name="StructureTemplatePath" serializeAs="String">
        <value>c:\temp\geos$\Workbench\templates\Structures</value>
      </setting>
      <setting name="CustomerImagePath" serializeAs="String">
        <value>C:\temp\geos$\Workbench\Images\Customers</value>
      </setting>
      <setting name="PoAnalyzerEmailToCheck" serializeAs="String">
        <value>po.epin</value>
      </setting>
      <setting name="WorkbenchMainServiceProvider" serializeAs="String">
        <value>10.13.3.21:84</value>
      </setting>
      <setting name="StructureQualityPassLabelFile" serializeAs="String">
        <value>C:\temp\geos$\Workbench\Labels\{0}\STRUCTURE_QC_Label.prn</value>
      </setting>
      <setting name="TripRequestAttachmentPath" serializeAs="String">
        <value>c:\temp\TripRequestAttachment</value>
      </setting>
      <setting name="APMActionPlanTaskAttachments" serializeAs="String">
        <value>C:\\Temp\\APMActionPlanTaskAttachments</value>
      </setting>
      <setting name="APMActionPlanAttachments" serializeAs="String">
        <value>C:\\Temp\\APMActionPlanAttachments</value>
      </setting>
      <setting name="EmployeeEquipmentDocument" serializeAs="String">
        <value>C:\\Temp\\EmployeeEquipmentDocument</value>
      </setting>
      <setting name="TechnicalAssistanceReportTemplatePath" serializeAs="String">
        <value>\\10.13.3.21\Temp\Geos$\Workbench\Templates\TechnicalAssistanceReports</value>
      </setting>
      <setting name="TechnicalAssistanceReportPath" serializeAs="String">
        <value>\\10.13.3.21\Temp\{0}FS01\Geos$\Workbench\Documents\TechnicalAssistanceReports\</value>
      </setting>
      <setting name="OtAttachmentPath" serializeAs="String">
        <value>C:\\Temp\\</value>
      </setting>
      <setting name="ActionPlansImportFilePath" serializeAs="String">
        <value>C:\\Temp\\ActionPlan\\ActionPlansImportFile.xlsm</value>
      </setting>
      <setting name="APMOverdueEmailTemplate" serializeAs="String">
        <value>C:\\Temp\\Templates\\EmailTemplate\\</value>
      </setting>
      <setting name="POTemplateFilePath" serializeAs="String">
        <value>C:\\Temp\\Geos$\\Workbench\\Documents\\OtManagement\\TemplateFiles\\</value>
      </setting>
    </Emdep.Geos.Services.Web.Workbench.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=9.1.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="9.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>