<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivityReminderServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivityReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <applicationSettings>
        <ActivityReminder.Properties.Settings>
            <setting name="INTERVAL_REFRESH" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="MailServerName" serializeAs="String">
                <value>mail.emdep.com</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CurrencyLayer" serializeAs="String">
                <value>http://apilayer.net/api/</value>
            </setting>
            <setting name="CurrencyLayerKey" serializeAs="String">
                <value>34fe8672eefff10710e2b1a23b0a6d40</value>
            </setting>
            <setting name="CultureInfo" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="SystemNotificationsRecipients" serializeAs="String">
                <value>cpatil@emdep.com;skhade@emdep.com;</value>
            </setting>
            <setting name="SERVICE_PROVIDER_URL" serializeAs="String">
                <value>10.0.9.202:84</value>
            </setting>
        </ActivityReminder.Properties.Settings>
    </applicationSettings>
</configuration>