<!DOCTYPE html>
<html>

<br />
<img src='cid:0' alt='emdep logo' style='width:130px;height:40px;' />
<p>
    <big></big>
    <h2 style="font-family: Calibri; font-size: 18px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;"><big><b>Hello [USERNAME],</b></big></h2>
</p>
<p style="font-family: Calibri;font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    <small>
        This mail contains directions for modifying your login credentials.</br>
    </small>
</p>
<p style="font-family: Calibri;font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    <small> To reset your existing password,  introduce the below secuirity code before proceed to set a new password:</small></br>
</p>
<p align="left" style="font-family: Calibri; font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">

    <b> [CODE]</b></br>

</p>
<p align="left" style="font-family: Calibri; font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    <small>
        For security reason, this password will be valid until application remain open.</br>
    </small>
</p>
<p align="left" style="font-family: Calibri; font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;"><small>Once you've recovered your password you can log in to your account.</small></p>
<p align="left" style="font-family: Calibri; font-size: 18px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;"><small>If you did not request a password reset, please ignore this email.</small></p>
<p align="left" style="font-family: Calibri; font-size: 16px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;"><small>If you have any questions or need further assistance with your login credentials, reach us at <a href='mailto:geossat@emdep.com'>geossat@emdep.com</a>.  </small></p>


<hr>
<p align="left" style="font-family: Calibri; font-size: 18px; font-weight: normal; margin: 0 0 10px; padding: 0;">
    <small>

        Thank You, </br>
    </small>
</p>
<p align="left" style="font-family: Calibri; font-size: 18px; font-weight: normal; margin: 0 0 10px; padding: 0;">
    <small>
        The Geos Support </br>
    </small>
    <small>
        <img src='cid:1' alt='emdep logo' style="bottom:auto" /><a href='mailto:geossat@emdep.com'>geossat@emdep.com</a><br />
    </small>
    <small>
        <img src='cid:2' alt='emdep logo' /> geossat.emdep<br />
    </small>
    <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;insat.emdep </small>
</p>

</body>
</html>
