<?xml version="1.0" encoding="utf-8"?>
<GeosServiceProviders>
  <GeosServiceProvider Name="EAES" IsSelected="true" ServiceProviderUrl="https://eaes.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EIBR" IsSelected="false" ServiceProviderUrl="https://eibr.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ESCN" IsSelected="false" ServiceProviderUrl="https://escn.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ESHN" IsSelected="false" ServiceProviderUrl="https://eshn.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ETMA" IsSelected="false" ServiceProviderUrl="https://etma.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ESMA1" IsSelected="false" ServiceProviderUrl="https://esma1.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ESMA2" IsSelected="false" ServiceProviderUrl="https://esma2.emdep.com:2053/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ESMX" IsSelected="false" ServiceProviderUrl="https://esmx.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EJMX1" IsSelected="false" ServiceProviderUrl="https://ejmx1.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EJMX2" IsSelected="false" ServiceProviderUrl="https://ejmx2.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EEPY" IsSelected="false" ServiceProviderUrl="https://eepy.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EBRO" IsSelected="false" ServiceProviderUrl="https://ebro.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ENRU" IsSelected="false" ServiceProviderUrl="https://enru.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EPIN" IsSelected="false" ServiceProviderUrl="https://epin.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EAMX" IsSelected="false" ServiceProviderUrl="https://eamx.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EARO" IsSelected="false" ServiceProviderUrl="https://earo.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ETCN" IsSelected="false" ServiceProviderUrl="https://etcn.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ETHQ" IsSelected="false" ServiceProviderUrl="https://ethq.emdep.com:2053/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ECIN" IsSelected="false" ServiceProviderUrl="https://ecin.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ETMX" IsSelected="false" ServiceProviderUrl="https://etmx.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="ECNI" IsSelected="false" ServiceProviderUrl="https://ecni.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EBID" IsSelected="false" ServiceProviderUrl="https://ebid.emdep.com:2053/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EMTN" IsSelected="false" ServiceProviderUrl="https://emtn.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EWCN" IsSelected="false" ServiceProviderUrl="https://ewcn.emdep.com:2053/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EBTR" IsSelected="false" ServiceProviderUrl="https://ebtr.emdep.com:8443/GEOS_Workbench_Services" />
  <GeosServiceProvider Name="EBEG" IsSelected="false" ServiceProviderUrl="https://ebeg.emdep.com:8443/GEOS_Workbench_Services" />
</GeosServiceProviders>