<?xml version="1.0" encoding="utf-8"?>
<GeosServiceProviders>
  <GeosServiceProvider Name="EAES" IsSelected="false" ServiceProviderUrl="eaes.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EIBR" IsSelected="false" ServiceProviderUrl="eibr.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ESCH" IsSelected="false" ServiceProviderUrl="esch.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ESHO" IsSelected="false" ServiceProviderUrl="esho.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ETMA" IsSelected="false" ServiceProviderUrl="etma.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ESMA1" IsSelected="false" ServiceProviderUrl="esma1.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ESMA2" IsSelected="false" ServiceProviderUrl="esma2.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ESMX" IsSelected="false" ServiceProviderUrl="esmx.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EJMX1" IsSelected="false" ServiceProviderUrl="ejmx1.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EJMX2" IsSelected="false" ServiceProviderUrl="ejmx2.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EEPA" IsSelected="false" ServiceProviderUrl="eepa.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EBRO" IsSelected="false" ServiceProviderUrl="ebro.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ENRU" IsSelected="false" ServiceProviderUrl="enru.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="ETTU" IsSelected="false" ServiceProviderUrl="ettn.emdep.com:81/WebServices" />
  <GeosServiceProvider Name="EPIN" IsSelected="false" ServiceProviderUrl="10.0.9.7:86/GeosWorkbenchService"/>
</GeosServiceProviders>